<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943331557216-lcavt5guob7lakmvsds4ifvagd8h1prq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943331557216-lcavt5guob7lakmvsds4ifvagd8h1prq</string>
	<key>API_KEY</key>
	<string>AIzaSyDd-kQ8hZ4fQntAkp5mvZlcNajVWeUC9Z8</string>
	<key>GCM_SENDER_ID</key>
	<string>943331557216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.misfitmaruf.PhoneAuthDemoTest</string>
	<key>PROJECT_ID</key>
	<string>phoneauth-fd3e6</string>
	<key>STORAGE_BUCKET</key>
	<string>phoneauth-fd3e6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943331557216:ios:cbb5aae4b7f39e7e6ca805</string>
</dict>
</plist>